<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		HealthyLungs
	</title>
</head>
<body>
	<header class="header" id="header">
		<div class="main_frame">
			<div class='box'>
  				<div class='wave -one'></div>
  				<div class='wave -two'></div>
  				<div class='wave -three'></div>
			</div>
			<h1 id="Title">
					Healthy Lungs
					<form action="/" method="post">
						<button name="forwardBtn" type="submit">get localization</button>
						<p><b>{{ text }}</b></p>
					</form>
				</h1>
			<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
			<lottie-player src="https://assets5.lottiefiles.com/packages/lf20_6bn30rnk.json"  background=transparent  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay id="lungs"></lottie-player>
		</div>
	</header>

	<!-- Button for geolocation and (at that moment) message with latitude and longitude -->
	<div class="container">
        <button id="button-location" class="btn">Enable location</button>
        <div id="message"></div>
    </div>
	<script src="../scripts/geo.js"></script>

</body>
</html>