<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="shortcut icon" type="x-icon"  href="../images/logo.png">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static',filename='/styles/main.css') }}">
	<!-- <link rel="stylesheet" href="../static/styles/main.css">-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com"> 
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
	<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<title>
		HealthyLungs
	</title>
</head>
<body>
	
		<div class="main_frame">
			<header>
				<div class="top_bar">
					<nav class="nav">
						<ul>
							<li><a href="./index.html">Yours location</a></li>
							<li><a href="./index2.html">Choose location</a></li>
						</ul>
					</nav>
				</div>
			</header>
    		<div class="container">
        		<img src="../images/logo.png" id="logo"> </img>
        		<div id = "title">
        			<span class="title">Healthy Lungs</span>
        			<span class="subtitle">Hello! 
            		<br>On this site you can check the air condition in your or any selected region. 
            		<br>You can also view the air quality for the last seven days. 
            		<br>And if you use our site not for the first time, you can view the history of saved measurements. 
            		<br>To get started, choose your location.
            	</span>
            </div>
            <button id="button-location" class="btn">Enable location</button>
          	<div id="message"></div>
    		</div>
    	<div class="lungs">
    		<img src="../images/lungs0.png" id="lungs"></img>
    		<img src="../images/legenda.png" id="legenda"> </img>
			</div>
			<div class="statystyki">
				<div class='ui'>
  				<div class='ui_box'>
    				<div class='ui_box__inner'>
      				<h2>
				        NO<sub>2</sub>
				      </h2>
				      <p>Nitrogen Dioxide</p>
				      <div class='stat'>
				        <span>18%</span>
				      </div>
				      <div class='progress'>
				        <div class='progress_bar'></div>
				      </div>
				      <ul>
							<li>Good - 0% - 12,5%</li>
							<li>Fair - 12,5% - 25%</li>
							<li>Moderate - 25% - 50%</li>
							<li>Poor - 50% - 100%</li>
							<li>Very Poor - >100% </li>
					  </ul>
				    </div>   
				  </div>
				  <div class='ui_box'>
    				<div class='ui_box__inner'>
      				<h2>
				        PM <sub>10</sub>
				      </h2>
				      <p>Particulate matter includes particles less than 10µm in diameter.</p>
				      <div class='stat'>
				        <span>18%</span>
				      </div>
				      <div class='progress'>
				        <div class='progress_bar'></div>
				      </div>
				      <ul>
						<li>Good - 0% - 14%</li>
						<li>Fair - 14% - 28%</li>
						<li>Moderate - 28% - 50%</li>
						<li>Poor - 50% - 100%</li>
						<li>Very Poor - >100% </li>
				  </ul>
				    </div>   
				  </div>
				  <div class='ui_box'>
    				<div class='ui_box__inner'>
      				<h2>
				        O<sub>3</sub>
				      </h2>
				      <p>Trioxygen</p>
				      <div class='stat'>
				        <span>18%</span>
				      </div>
				      <div class='progress'>
				        <div class='progress_bar'></div>
				      </div>
					  <ul>
						<li>Good - 0% - 25%</li>
						<li>Fair - 25% - 50%</li>
						<li>Moderate - 50% - 75%</li>
						<li>Poor - 75% - 100%</li>
						<li>Very Poor - >100% </li>
					  </ul>
				    </div>   
				  </div>
				  <div class='ui_box'>
    				<div class='ui_box__inner'>
      				<h2>
				        PM<sub>2.5</sub>
				      </h2>
				      <p>Particulate matter includes particles less than 2.5µm in diameter.</p>
				      <div class='stat'>
				        <span>18%</span>
				      </div>
				      <div class='progress'>
				        <div class='progress_bar'></div>
				      </div>
				      <ul>
						<li>Good - 0% - 13,6%</li>
						<li>Fair - 13,6% - 27,2%</li>
						<li>Moderate - 27,2% - 50%</li>
						<li>Poor - 50% - 100%</li>
						<li>Very Poor - >100% </li>
					  </ul>
				    </div>   
				  </div>
				  
				</div>
				<h2> <br> Mean from the last week</h2>
				<div class='ui_box'>
    				<div class='ui_box__inner'>
      				<h2>
				        NO<sub>2</sub>
				      </h2>
				      <p>Nitrogen Dioxide</p>
				      <div class='stat'>
				        <span>18%</span>
				      </div>
				      <div class='progress'>
				        <div class='progress_bar'></div>
				      </div>
				      <ul>
							<li>Good - 0% - 12,5%</li>
							<li>Fair - 12,5% - 25%</li>
							<li>Moderate - 25% - 50%</li>
							<li>Poor - 50% - 100%</li>
							<li>Very Poor - >100% </li>
					  </ul>
				    </div>   
				  </div>
				  <div class='ui_box'>
    				<div class='ui_box__inner'>
      				<h2>
				        PM <sub>10</sub>
				      </h2>
				      <p>Particulate matter includes particles less than 10µm in diameter.</p>
				      <div class='stat'>
				        <span>18%</span>
				      </div>
				      <div class='progress'>
				        <div class='progress_bar'></div>
				      </div>
				      <ul>
						<li>Good - 0% - 14%</li>
						<li>Fair - 14% - 28%</li>
						<li>Moderate - 28% - 50%</li>
						<li>Poor - 50% - 100%</li>
						<li>Very Poor - >100% </li>
				  </ul>
				    </div>   
				  </div>
				  <div class='ui_box'>
    				<div class='ui_box__inner'>
      				<h2>
				        O<sub>3</sub>
				      </h2>
				      <p>Trioxygen</p>
				      <div class='stat'>
				        <span>18%</span>
				      </div>
				      <div class='progress'>
				        <div class='progress_bar'></div>
				      </div>
					  <ul>
						<li>Good - 0% - 25%</li>
						<li>Fair - 25% - 50%</li>
						<li>Moderate - 50% - 75%</li>
						<li>Poor - 75% - 100%</li>
						<li>Very Poor - >100% </li>
					  </ul>
				    </div>   
				  </div>
				  <div class='ui_box'>
    				<div class='ui_box__inner'>
      				<h2>
				        PM<sub>2.5</sub>
				      </h2>
				      <p>Particulate matter includes particles less than 2.5µm in diameter.</p>
				      <div class='stat'>
				        <span>18%</span>
				      </div>
				      <div class='progress'>
				        <div class='progress_bar'></div>
				      </div>
				      <ul>
						<li>Good - 0% - 13,6%</li>
						<li>Fair - 13,6% - 27,2%</li>
						<li>Moderate - 27,2% - 50%</li>
						<li>Poor - 50% - 100%</li>
						<li>Very Poor - >100% </li>
					  </ul>
				    </div>   
				  </div>
				  
				</div>
			</div>
      		<div class="area" >
              <ul class="circles">
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
                      <li></li>
              </ul>
        	</div >	
		</div>
<script src="{{ url_for('static', filename='geo.js') }}"></script>
<!--<script src="../static/geo.js"></script>-->
</body>
</html>
